{% extends 'portfolio/authentication/base.html' %}
{% load i18n %}
{% block title %}{% translate 'Password Change Done' %}{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'portfolio:profile' %}"> {% translate 'Profile' %} </a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'portfolio:change_password' %}">
      {% translate 'Password Change' %}
    </a>
  </li>
  <li class="breadcrumb-item active">{% translate 'Done' %}</li>
{% endblock %} 
{% block content %}
  <h1 class="display-1 mb-4">
    <strong> {% translate 'Password change successful' %} </strong>
  </h1>
  <p class="fs-4">{% translate 'Your password was changed.' %}</p>
  <a
    class="btn btn-lg btn-primary px-5"
    role="button"
    href="{% url 'portfolio:login' %}"
  >
    {% translate 'Login' %}
  </a>
{% endblock %}
