{% extends 'portfolio/base/base_site.html' %} 
{% load i18n %} {% block title %}{% translate 'Login' %}{% endblock %}
{% block content %}
  <h1 class="display-1">
    <strong>
      {% translate 'Welcome back!' %}
    </strong>
  </h1>
  <div class="d-flex align-items-center justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button
            class="nav-link active"
            id="nav-signin-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-signin"
            type="button"
            role="tab"
            aria-controls="nav-signin"
            aria-selected="true"
          >
            {% translate 'Log In' %}
          </button>
          <button
            class="nav-link"
            id="nav-signup-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-signup"
            type="button"
            role="tab"
            aria-controls="nav-signup"
            aria-selected="false"
          >
            {% translate 'Register' %}
          </button>
        </div>
      </nav>
      <div
        class="card bg-dark text-white shadow rounded-b-3 border-top-0"
        style="border-top-right-radius: 0; border-top-left-radius: 0"
      >
        <div class="card-body">
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-signin"
              role="tabpanel"
              aria-labelledby="nav-signin-tab"
            >
              <h1 class="text-primary mb-4">
                <strong> {% translate 'Log In' %} </strong>
              </h1>
              {% include 'portfolio/includes/utilities/form.html' with form_tag=1 method='post' floating_labels=1 %} {% url 'portfolio:index' as url %} 
              {% include 'portfolio/includes/utilities/submit.html' with form_id='form' reset=1 cancel_url=url %}
            </div>
            <div
              class="tab-pane fade"
              id="nav-signup"
              role="tabpanel"
              aria-labelledby="nav-signup-tab"
            >
              <h1 class="text-primary mb-4">
                <strong> {% translate 'Register' %} </strong>
              </h1>
              {% url 'portfolio:register' as action %}
              {% include 'portfolio/includes/utilities/form.html' with form_tag=1 form=signup_form method='post' action=action id='signup_form' floating_labels=1 %} 
              {% include 'portfolio/includes/utilities/submit.html' with form_id='signup_form' reset=1 cancel_url=url %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document
      .querySelectorAll("div.form-floating > .form-control")
      .forEach((item) => {
        item.classList.add("bg-dark", "text-white");
      });
  </script>
{% endblock %}

{% block footer %}
  <div class="container-fluid">
      {% include 'portfolio/includes/components/footer.html' with message_form=1 %}
  </div>
{% endblock %}