{% load i18n %}
<div class="card bg-dark text-white shadow mb-4">
    <div class="card-body p-4">
        <div class="d-grid gap-4 d-lg-flex align-content-lg-{{ align|default:'center' }} justify-content-lg-{{ justify|default:'between' }}">
            <button type="submit" class="btn btn-lg btn-outline-primary d-flex gap-4" form="{{ form_id|default:'form' }}">
                <i class="bi bi-save"></i>
                {% translate 'Save' %}
            </button>
            {% if delete %}
                <a href="{{ delete_url|default:'#' }}" class="btn btn-lg btn-outline-danger d-flex gap-4">
                    <i class="bi bi-trash"></i>
                    {% translate 'Delete' %}
                </a>
            {% endif %}
            {% if reset %}
                <button type="reset" class="btn btn-lg btn-outline-warning d-flex gap-4" form="{{ form_id|default:'form' }}">
                    <i class="bi bi-backspace-reverse"></i>
                    {% translate 'Reset' %}
                </button>
            {% endif %}
            <a href="{{ cancel_url|default:'#' }}" class="btn btn-lg btn-outline-secondary d-flex gap-4">
                <i class="bi bi-x"></i>
                {% translate 'Cancel' %}
            </a>
        </div>
    </div>
</div>