{% extends 'portfolio/views/list/template.html' %}
{% load i18n %}
{% block title %}{% translate 'Certificates' %}{% endblock %}
{% block breadcrumb_item %}{% translate 'Certificates' %}{% endblock %}
{% block page_title %}{% translate 'Certificates' %}{% endblock %}
{% block create_link %}{% url 'portfolio:create_certificate' %}{% endblock %}
{% block table %}
    <table class="table table-dark table-hover mb-0">
        <thead>
        <tr>
            <th>
                {% translate 'ID' %}
            </th>
            <th>
                {% translate 'Name' %}
            </th>
            <th>
                {% translate 'Issued by' %}
            </th>
            <th>
                {% translate 'Tag' %}
            </th>
            <th>
                {% translate 'Expiration date' %}
            </th>
            <th>
                {% translate 'URL' %}
            </th>
            <th>
                {% translate 'Created' %}
            </th>
            <th>
                {% translate 'Updated' %}
            </th>
            <th>
                {% translate 'Actions' %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for certificate in certificate_list %}
            <tr>
                <td>
                    {{ certificate.id }}
                </td>
                <td>
                    {{ certificate.name|capfirst }}
                </td>
                <td>
                    {{ certificate.provider }}
                </td>
                <td>
                    <span class="badge bg-{{ certificate.tag.color }}">
                        {{ certificate.tag }}
                    </span>
                </td>
                <td>
                    {% if certificate.expiration_date is None %}
                        {% translate 'No expriation date' %}
                    {% else %}
                        {{ certificate.expiration_date }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ certificate.credential }}">
                        {% translate 'View' %}
                    </a>
                </td>
                <td>
                    {{ certificate.created_at }}
                </td>
                <td>
                    {{ certificate.updated_at }}
                </td>
                <td>
                    <div class="d-flex align-items-center gap-4">
                        <a class="link-warning" href="{% url 'portfolio:edit_certificate' certificate.id %}">
                            <i class="bi bi-pencil"></i>
                            {% translate 'Edit' %}
                        </a>
                        <a class="link-danger" href="{% url 'portfolio:delete_certificate' certificate.id %}">
                            <i class="bi bi-trash"></i>
                            {% translate 'Delete' %}
                        </a>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="9" class="text-center">
                    {% translate 'No certificate found' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block count %}{{ certificate_list.count }} {% translate 'Certificates' %}{% endblock %}
