{% extends 'portfolio/views/list/template.html' %}
{% load i18n %}
{% block title %}{% translate 'Tags' %}{% endblock %}
{% block breadcrumb_item %}{% translate 'Tags' %}{% endblock %}
{% block page_title %}{% translate 'Tags' %}{% endblock %}
{% block create_link %}{% url 'portfolio:create_tag' %}{% endblock %}
{% block table %}
    <table class="table table-dark table-hover mb-0">
        <thead>
        <tr>
            <th>
                {% translate 'ID' %}
            </th>
            <th>
                {% translate 'Name' %}
            </th>
            <th>
                {% translate 'Color' %}
            </th>
            <th>
                {% translate 'Created' %}
            </th>
            <th>
                {% translate 'Updated' %}
            </th>
            <th>
                {% translate 'Actions' %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tag_list %}
            <tr>
                <td>
                    {{ tag.id }}
                </td>
                <td>
                    {{ tag.name }}
                </td>
                <td>
                    <span class="text-{{ tag.color }}">
                        {{ tag.color }}
                    </span>
                </td>
                <td>
                    {{ tag.created_at }}
                </td>
                <td>
                    {{ tag.updated_at }}
                </td>
                <td>
                    <div class="d-flex align-items-center gap-4">
                        <a class="link-warning" href="{% url 'portfolio:edit_tag' tag.id %}">
                            <i class="bi bi-pencil"></i>
                            {% translate 'Edit' %}
                        </a>
                        <a class="link-danger" href="{% url 'portfolio:delete_tag' tag.id %}">
                            <i class="bi bi-trash"></i>
                            {% translate 'Delete' %}
                        </a>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6" class="text-center">
                    {% translate 'No tag found' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block count %}{{ tag_list.count }} {% translate 'tags' %}{% endblock %}
