{% load i18n static %}
<article class="card rounded-3 shadow">
    <div class="card-body">
        <h1 class="card-title text-danger fw-bold">
            {{ certificate.name }}
        </h1>
        <div class="card-text">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="text-muted">
                    {{ certificate.created_at|date }}
                </div>
                {% if request.user.is_superuser %}
                    <div class="dropdown">
                        <a href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots"></i>
                        </a>
                        <ul class="dropdown-menu rounded-3 shadow">
                            <li class="dropdown-header">
                                {% translate 'Certificate Menu' %}
                            </li>
                            <li class="dropdown-item">
                                <a href="{% url 'portfolio:edit_certificate' certificate.id %}"
                                   class="dropdown-item-text d-flex gap-4">
                                    <i class="bi bi-pencil"></i>
                                    {% translate 'Edit' %}
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="{% url 'portfolio:delete_certificate' certificate.id %}"
                                   class="dropdown-item-text d-flex gap-4">
                                    <i class="bi bi-trash"></i>
                                    {% translate 'Delete' %}
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="text-end">
                <small class="badge bg-{{ certificate.tag.color }}">
                    {{ certificate.tag|capfirst }}
                </small>
            </div>
            <p>
                {% translate 'Issued by' %}
                <a href="{{ certificate.provider.url }}">
                    {{ certificate.provider }}
                </a>.
            </p>
            <p>
                {% if certificate.expiration_date is None %}
                    {% translate 'This certificate does not expire.' %}
                {% else %}
                    {% translate 'Expiration date:' %} {{ certificate.expiration_date }}.
                {% endif %}
            </p>
            <a class="btn btn-lg d-block btn-danger" href="{{ certificate.credential }}">
                {% translate 'Verify' %}
            </a>
        </div>
    </div>
</article>