{% load i18n %}
<article class="card rounded-3 shadow">
    {% if project.image %}
        <img src="{% url 'portfolio:project_image' project.id %}" alt="{{ project.name }}" class="card-img-top">
    {% endif %}
    <div class="card-body">
        <h1 class="card-title text-warning fw-bold">
            {{ project.name }}
        </h1>
        <div class="card-text">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="text-muted">
                    {{ project.created_at|date }}
                </div>
                {% if request.user.is_superuser %}
                    <div class="dropdown">
                        <a href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots"></i>
                        </a>
                        <ul class="dropdown-menu rounded-3 shadow">
                            <li class="dropdown-header">
                                {% translate 'Project Menu' %}
                            </li>
                            <li class="dropdown-item">
                                <a href="{% url 'portfolio:edit_project' project.id %}"
                                   class="dropdown-item-text d-flex gap-4">
                                    <i class="bi bi-pencil"></i>
                                    {% translate 'Edit' %}
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="{% url 'portfolio:delete_project' project.id %}"
                                   class="dropdown-item-text d-flex gap-4">
                                    <i class="bi bi-trash"></i>
                                    {% translate 'Delete' %}
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="text-end">
                <span class="badge bg-primary">
                    {{ project.status }}
                </span>
            </div>
            <p>
                {{ project.about }}
            </p>
        <div class="d-grid gap-4">
            <a class="btn btn-lg d-block btn-warning" href="{{ project.url }}">
                {% translate 'Github' %}
            </a>
            {% if project.demo_url %}
                <a class="btn btn-lg d-block btn-outline-warning" href="{{ project.demo_url }}">
                    {% translate 'Demo' %}
                </a>
            {% endif %}
        </div>
        </div>
    </div>
</article>