{% extends 'portfolio/base/base_site.html' %}
{% load i18n %}
{% block title %}{% translate 'About' %}{% endblock %}
{% block main %}
    <div class="container pt-4">
        <div class="container-fluid">
            <h1 class="display-1">
                {% translate 'Who am I?' %}
            </h1>
            <p class="col-md-8 lead fs-4">
                {% blocktranslate %}
                    I am a software engineer working on variety of projects. I love to learn new things.
                    Currently, I am learning UX design, AI and mobile development.
                {% endblocktranslate %}
            </p>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="container-fluid">
        {% include 'portfolio/includes/components/footer.html' with message_form=1 %}
    </div>
{% endblock %}
